let mapleader = " "
map <Leader>u :action FindUsages<CR>
map <Leader>g :action Generate<CR>
map <Leader>i :action GotoImplementation<CR>
map <Leader>s :action SurroundWith<CR>
map <Leader>f :action Tool_External Tools_clang-format<CR>
map <Leader>p :action ParameterInfo<CR>

nmap <Leader>[ :action EditorCodeBlockStart<CR>
nmap <Leader>] :action EditorCodeBlockEnd<CR>
xmap <Leader>[ :action EditorCodeBlockStartWithSelection<CR>
xmap <Leader>] :action EditorCodeBlockEndWithSelection<CR>

nmap <C-h> :action GotoDeclaration<CR>
nmap <C-q> :action QuickJavaDoc<CR>

" Same as default IDEA action, but only in insert mode. Enter block-visual
" mode in normal mode.
imap <C-v> <Esc><Action>($Paste)

map <C-h> :action TypeHierarchy<CR>
imap <C-v> <Esc>:action $Paste<CR>
map <Leader>b :action GotoDeclaration<CR>

" Closing tabs
nmap <leader>q :action CloseContent<cr>
nmap <leader>Q :action ReopenClosedTab<cr>
nmap <leader>wq :action CloseAllEditorsButActive<cr>

" To navigate between split panes
nmap <leader>wo :action NextSplitter<cr>
nmap <leader>wp :action PrevSplitter<cr>
nmap <leader>j :action PrevSplitter<cr>

" Splits manipulation
nmap <leader>ws :action SplitHorizontally<cr>
nmap <leader>wv :action SplitVertically<cr>
nmap <leader>wc :action Unsplit<cr>
nmap <leader>wC :action UnsplitAll<cr>
nmap <leader>wd :action OpenEditorInOppositeTabGroup<cr>

nnoremap gn :action GotoNextError<CR>
nnoremap gp :action GotoPreviousError<CR>

:set number relativenumber
:set nu rnu
:set ideajoin

" Use the idea Back/Forward instead of the vim one so we
" don't jump between different projects.
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>

